@media(min-width: 700px) {
    .carousel-caption {
        position: absolute !important;
        right: 5% !important;
        left: 46% !important;
        z-index: 10 !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        color: #fff !important;
        bottom: 20% !important;
    }
    .w-100 {
        width: 100%!important;
    }
    .h1,
    h1 {
        font-size: 2.5rem;
        text-align: end !important;
        color: #fff;
    }
    .button-menu {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 85%;
        bottom: 0;
    }
    .carousel .item {
        height: 250px !important;
    }
    .d-md-block {
        display: block!important;
        margin-bottom: 10%;
    }
}

@media(max-width: 500px) {}

.img-carrousel {
    filter: brightness(0.5);
}

.btn-white {
    border-color: #fff !important;
}